[submodule "dbf"]
	path = src/dbf
	url = S:\\git\\dbf.java.git
[submodule "BufferedRandomAccessFile"]
	path = src/utils/BufferedRandomAccessFile
	url = S:\\git\\BufferedRandomAccessFile.java.git
[submodule "utils"]
	path = src/utils
	url = S:\\git\\utils.java
[submodule "xcm"]
	path = src/xcm
	url = S:\\git\\xcm
[submodule "IgcDataStream"]
	path = src/IgcDataStream
	url = S:\\git\\IgcDataStream
